.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.picture {
  width: 50%;
}
.picture-item {
  margin-bottom: 10px;
  padding-bottom: 40px;
}
.globe-container {
  width: 30%;
  height: auto;
}
