.posts-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.post-container {
  display: flex;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.content-container {
  width: 640px;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding: 26px 50px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-container img {
  width: 44px;
  height: 44px;
}

.user-name {
  font-weight: bold;
  font-size: 1rem;
  color: #333333;
}
