@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.main {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.probar {
  font-family: "NanumSquare", sans-serif;
  width: 1280px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.main button {
  height: 40px;
  color: white;
  background: none;
  margin-right: 20px;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;

  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 16px;

  padding: 12px 16px;
}
